.callReportTableWrapper {
  .callReportTableContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 88vh;
    margin-top: 5px;

    .tableContainer {
      max-height: 80vh;
      overflow: scroll;
      border-collapse: collapse;

      .rowsContainer {
        max-height: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .rowContainer {
          border-bottom: 1px solid gray;

          .cellContainer {
            text-align: center;
            width: 50px;
            min-width: 50px;
          }
        }
      }
    }


  }

  .pagination {
    margin-top: 5px;
    padding-left: 10px;
    border-left: 1px solid gray;
    width: 100%;

    & > button {
      cursor: pointer;
    }
  }

}