.sendButton {
  margin-left: 10px;
  color: white;
  width: 88%;
  padding: 10px;
  background: linear-gradient(0deg, rgb(39, 90, 140) 0%, rgb(43, 102, 160) 83%, rgb(44, 110, 171) 94%, rgb(40, 109, 174) 100%);
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  &:hover {
    opacity: .8;
  }
  &:active {
    opacity: 1;
  }
}
.disabled {
  background: linear-gradient(0deg, rgba(39, 90, 140, 0.5) 0%, rgba(43, 102, 160, 0.5) 83%, rgba(44, 110, 171, 0.5) 94%, rgba(40, 109, 174, 0.5) 100%);
}
