.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: black;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    color: black;
}
.nav-link {
    color: white;
}
.tab {

    margin: 0;
}

.sendButton {
  right: 20px;
  color: white;
  width: 90%;
  padding: 10px;
  background: linear-gradient(0deg, rgb(39, 90, 140) 0%, rgb(43, 102, 160) 83%, rgb(44, 110, 171) 94%, rgb(40, 109, 174) 100%);
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 5px;
  border: none;
}
.sendButton:hover {
   opacity: .8;
 }
.sendButton:active {
   opacity: 1;
 }