<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div style="display: flex; flex-direction: row">
        <div style="width: 200px">
            <br>
            <br>
            <span style="color: #f7941d;"> </span>
            <h2><span style="color: #f7941d;">Добрый день!</span>
            </h2>
            <span style="font-size: 12pt;">Мы, компания Axata, уже более 10 лет занимаемся автоматизацией контакт-центров от внедрения IP-телефонии до роботов на искусственном интеллекте.</span><br>
            <span style="font-size: 12pt;"> </span><br>
            <span style="font-size: 12pt;">Самое главное - мы делаем сложные процессы максимально понятными и удобными как для руководителей, так и сотрудников.</span>
            <br>
        </div>
        <div style="width: 200px">
            <h2><b><br></b></h2>
            <h2><b>
            </b><b><span style="color: #f7941d; background-color: #ffffff;">89%</span></b></h2><span
                style="background-color: #ffffff;">Клиентов являются постоянными</span><b><br></b>
            <h2><b><span style="color: #f7941d; background-color: #ffffff;">300+</span></b></h2><span
                style="background-color: #ffffff;">Довольных клиентов</span><b><br></b>
            <h2><b><span style="color: #f7941d; background-color: #ffffff;">5000</span></b></h2><span
                style="background-color: #ffffff;">Звонков в день</span><b><br></b>
        </div>
    </div>
</div>
</body>
</html>