<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="display: flex; align-items: center; flex-direction: column">
    <div>
        <h1 style="font-size: 32px; font-family: Calibri">Автоматизированный <br>
            <spna style="color: #4595a9">контакт-центр под ключ</spna>
        </h1>
        <div><span style="font-family: Calibri; font-size: 20px">Создаём контакт центры с 0 до <br> рабочего бизнес-процесса и улучшаем <br>действующие</span>
        </div>
        <div style="display: flex; justify-content: flex-start; margin-top: 50px">
            <div style="
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 70px; color: white;
        background: #4595a9;
        font-size: 20px;
        font-family: Calibri;
        cursor: pointer;
">
                Получить аудит
            </div>
            <div style="margin-left: 20px; font-size: 20px; font-family: Calibri">Проведём бесплатный аудит ваших <br>
                продаж и <b>найдём минимум
                    5 точек <br> роста прибыли</b></div>
        </div>
    </div>
    <div style="display:flex;flex-direction: column; align-items: center; margin-top: 20px">
        <div>
            <span style="font-size: 32px"><b>4 причины, по котрым <br> к нам обращаются</b></span><br>
            <span style="font-size: 20px; font-family: Calibri">Наш 11-летний опыт позволяет говорить с клиентами на <br> одном языке и максимально точно подбирать решения</span>
        </div>
        <div style="display: flex; margin-top: 20px">
            <div style="width: 300px; background-color: rgba(209,209,209,0.37); padding: 20px">
                <span style="font-size: 20px;"><b>Повышение конверсии</b></span><br>
                <span style="font-size: 20px; font-family: Calibri">Предоставление развёрнутых отчётов о количестве и качестве звонков.</span>
            </div>
            <div style="width: 300px;background-color: rgba(209,209,209,0.37); margin-left: 20px; padding: 20px">
                <span style="font-size: 20px; "><b>Контроль отдела</b></span><br>
                <span style="font-size: 20px; font-family: Calibri">Руководитель может следить за эффективностью операторов на 1 экране.</span>
            </div>
        </div>
        <div style="display: flex; margin-top: 20px">
            <div style="width: 300px;background-color: rgba(209,209,209,0.37); padding: 20px">
                <span style="font-size: 20px;"><b>Улучшение клиентского сервиса</b></span><br>
                <span style="font-size: 20px; font-family: Calibri">Интеграция с CRM-системой, где ни один клиент не потеряется за счет напоминаний.</span>
            </div>
            <div style="width: 300px;background-color: rgba(209,209,209,0.37); margin-left: 20px; padding: 20px">
                <span style="font-size: 20px;"><b>Масштабирование компании</b></span><br>
                <span style="font-size: 20px; font-family: Calibri">Объединяем филиалы и удалённых сотрудников за несколько кликов.</span>
            </div>
        </div>
    </div>
    <div style="
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 60px; color: white;
        background: #4595a9;
        font-size: 20px;
        font-family: Calibri;
        cursor: pointer;
        margin-top: 20px;
">
        Мне это подходит
    </div>
</div>

</body>
</html>