.homeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;

  .homeTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 12vh;
    background-color: #155d9b;
    border-radius: 5px;

    & > span {
      font-size: 2vw;
      text-anchor: middle;
    }
  }

  .homeContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    width: 60vw;
    margin-top: 20px;
    border: 1px solid #c7c6c6;

    .homeContentTitle {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-bottom: 1px solid #c7c6c6;
      height: 4vh;
      width: 60vw;

      & > span {
        display: block;
        height: 100%;
        text-align: center;
        text-anchor: middle;
        font-size: 1vw;
        font-weight: bold;
      }

      span {
        &:nth-child(1) {
          width: 15vw;
          border-right: 1px solid #c7c6c6;
        }

        &:nth-child(2) {
          width: 45vw;
        }
      }
    }

    .homeContentBody {
      width: 60vw;

      .accordion {

      }
    }
  }

  .homeContainer {
    display: flex;
    flex-direction: column;

    .homeHeader {
      display: flex;
      align-items: center;
      width: 100vw;
      height: 10vh;
      background-color: #2b71ad;
      box-shadow: 0px 3px 5px 2px rgba(34, 60, 80, 0.2);

      .logo * {
        fill: white;
      }

      .logo {
        margin-left: 30px;
      }
    }

    /*.homeContent {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 90vh;

      .monitoringContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 10px;

        .monitoringContent {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 12vh;
          width: 6vw;
          background-color: #357fbe;
          border-radius: 5px;
          cursor: pointer;
          box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);

          &:hover {
            background-color: rgba(53, 127, 190, 0.9);
          }

          &:active {
            background-color: #357fbe;
            box-shadow: 0 3px 5px 2px rgba(34, 60, 80, 0.2);
          }

          .monitoring * {
            fill: white;
          }

          .call * {
            fill: white;
          }

          .call {
            position: absolute;
            margin-left: 55px;
            margin-bottom: 55px;
            padding: 3px;
            background-color: #357fbe;
            border-radius: 15px;
          }
        }

        .itemName {
          display: block;
          font-size: 18px;
          font-weight: 600;
          margin-top: 10px;
          font-family: "Book Antiqua";
        }

      }

    }*/
  }
}